<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head">
    from Fragments
    </head>

    <body>
    <header th:replace="_fragments.html :: top">
        from Fragments
    </header>
<br>
<h1>Übersichtsliste der Kategorien</h1>
<ul>
<a href="/admin/category">neue Kategorie hinzufügen</a><br>

<br>
<a href="/admin">zurück zur Admin-Übersicht</a><br>
<a href="/admin/users">User-Liste</a><br>
<a href="/admin/experts">Experten-Liste</a><br>
<br><br><br>

<table>
    <thead>
    <tr>
       <th>category-Id</th>
       <th>category</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.categoryId}">categoryid</td>
        <td th:text="${category.categoryName}">categoryname</td>
    </tr>
    </tbody>
</table>
<br>
<a href="/admin">zurück zur Admin-Übersicht</a>
</ul>
</body>
</html>
