<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head">
    from Fragmentss
    </head>

    <body>
    <header th:replace="_fragments.html :: top">
        from Fragments
    </header>
<br>
<h1>Kategorieübersichtsliste</h1>
<ul>
<a href="/admin/category">Add a new category !</a><br>

<br>
<a href="/admin">Return to Admin </a><br>
<a href="/admin/users">Userlist</a><br>
<a href="/admin/experts">Expertlist</a><br>
<br><br><br>

<table>
    <thead>
    <tr>
       <th>category-Id</th>
       <th>category</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="category : ${categorys}">
        <td th:text="${category.categoryId}">categoryid</td>
        <td th:text="${category.categoryName}">categoryname</td>
    </tr>
    </tbody>
</table>
<br>
<a href="/admin">Return to Admin </a>
</ul>
</body>
</html>
