<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="_fragments.html :: head">
    from Fragmentss
    </head>

    <body>
    <header th:replace="_fragments.html :: top">
        from Fragments
    </header>
<br>
<h1>Benutzer löschen?</h1>
<ul>
<section>
    <ul>
        <li th:text="|Id: ${user.userId}|">$userid</li>
        <li th:text="|name: ${user.name}|">$name</li>
        <li th:text="|firstname: ${user.firstName}|">$firstname</li>
        <li th:text="|nickname: ${user.nickName}|">$nickname</li>
        <li th:text="|role: ${user.role}|">$role</li>
        <li th:text="|mailadress: ${user.mailAdress}|">$mailadress</li>
        <li th:text="|password: ${user.passWord}|">$password</li>
    </ul>
    <br>



    <form method="post" th:action="@{/admin/expert/deleteall}" th:object="${user}">

        <div>Expertengebietsliste aktuell:<br>
            <div th:each="category : ${categoryList}">
                <label>|></label>&nbsp;
                <span th:text="${category.categoryName}">categoryName</span>
                &nbsp;&nbsp;&nbsp;
            </div>
        <br>


        <div>Expertengebiet(e)git add <div class=""></div> löschen:</div><br>
        <input name="userid" th:field="${user.userId}" type="hidden">
        <input id="expert-delCategoryId" name="categoryId" th:field="${user.userId}">
            <option th:each="category : ${categorys}"
                    th:value="${category.categoryId}"
                    th:text="${category.categoryName}">
            </option>
        </input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="  Alle Kategorien löschen  ">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset">Eingabe zurücksetzen</button>
    </form>



    <form action="/admin/user/delete" method="get">
        <label> => </label>
        <input type="hidden" name="userid" th:value="${user.userId}" >
        <input type="submit" value=" Delete ">
    </form>
</section>

<br><br>




<br>
<a href="/admin/users">Return to Users</a><br>
<a href="/admin">Return to Admin </a>
</ul>
</body>
</html>
