<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head">
    from Fragmentss
    </head>

    <body>
    <header th:replace="_fragments.html :: top">
        from Fragments
    </header>
<br>
<h1>Expertenpflege</h1>
<ul>

<form method="post" th:action="@{/admin/expert}" th:object="${expert}">

    <input name="userid" th:field="*{userId}" type="hidden">
    
    <p> Experte <p>
    <label>Vorname:</label> <span th:text="*{firstName}" ></span><br>
    <label>Nachname:</label> <span th:text="*{name}" ></span><br>
    <label>Nickname:</label> <span th:text="*{nickName}" ></span><br>

    <div>Expertengebietenliste aktuell:<br>
    <fieldset>
        <tr th:each="category : ${expert.categoryList}">
            <label>   |>   </label> 
            <span th:text="${category.categoryName}">categoryName</span>
        </tr>
    </fieldset>
    <br><br><br>



    <div>Expertengebiet hinzufügen:</div><br>

    <label for="expert-newCategoryId">Kategorie-ID:</label>
    <input id="expert-newCategoryId" name="categoryId" placeholder="Kategorie-ID eintragen" th:field="*{categoryId}" type="number">

    <br><br>
    <input type="submit" value="  Send  ">
    <button type="reset">Eingaben zurücksetzen</button>

</form>
<br>
<br><br>
<a href="/admin/experts">Return to experts</a>
<br>
<a href="/admin">Return to Admin </a>

</ul>
</body>
</html>
