<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Benutzer löschen</title>
</head>
<body>
<a href="/admin/users">Benutzerliste</a>
<br>
<a href="/admin">Return to Admin </a>

<section>
    <h1>Löschen des Benutzers?</h1>
    <ul>
        <li th:text="|Id: ${user.userId}|">$userid</li>
        <li th:text="|name: ${user.name}|">$name</li>
        <li th:text="|firstname: ${user.firstName}|">$firstname</li>
        <li th:text="|nickname: ${user.nickName}|">$nickname</li>
        <li th:text="|role: ${user.role}|">$role</li>
        <li th:text="|mailadress: ${user.mailAdress}|">$mailadress</li>
        <li th:text="|password: ${user.passWord}|">$password</li>
    </ul>

    <form action="/admin/user/delete" method="get">
        <label>Löschen des User:</label>
        <input type="hidden" name="userid" th:value="${user.userId}" >
        <input type="submit" value=" Delete ">
    </form>
</section>
<br>
<a href="/admin/users">Return to Users</a>
<br>
<a href="/admin">Return to Admin </a>
</body>
</html>
