<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head">
    from Fragmentss
    </head>

    <body>
    <header th:replace="_fragments.html :: top">
        from Fragments
    </header>
<br>
<h1>Benutzerübersichtsliste</h1>
<ul>
<h3>Userlist</h3><br>
<a href="/admin/user">New User</a><br><br>
<a href="/admin">Return to Admin </a><br>
<a href="/admin/experts">Expertlist</a><br>
<a href="/admin/categorys">Categorylist</a>
<br><br><br>

<table>
    <thead>
    <tr>
       <th>User-Id</th>
       <th>Name</th>
       <th>Firstname</th>
       <th>Nickname</th>
       <th>Rolle</th>
       <th>Mailadress</th>
       <th>Password</th>
       <th></th>
       <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">

        <td th:text="${user.userId}">userid</td>
        <td th:text="${user.name}">name</td>
        <td th:text="${user.firstName}">firstname</td>
        <td th:text="${user.nickName}">nickname</td>
        <td th:text="${user.role}">role</td>
        <td th:text="${user.mailAdress}">mailadress</td>
        <td th:text="${user.passWord}">password</td>
        <td><a th:href="@{/admin/user(userid=${user.userId})}">Edit</a></td>
        <td><a th:href="@{/admin/del-id(userid=${user.userId})}">Remove / Delete</a></td>
    </tr>
    </tbody>
</table>
<br>
<a href="/admin">Return to Admin </a>
</ul>
</body>
</html>
