<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="_fragments.html :: head">
    from Fragmentss
  </head>

  <body>
    <header th:replace="_fragments.html :: top">
      from Fragments
    </header>

    <div class="jumbotron text-center">
      <h1>SkillHub</h1>
      <p>Frag einen Experten</p> 
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Java</h3>
          <p><i>"Ist Java doch eine Insel?"</i></p>
          <p><i>"Kann mir mal jemand erklären, wie man in Java eine Klasse definiert..."</i><a href="/questions?catSelected=3">  mehr</a></p>
        </div>
        <div class="col-sm-4">
          <h3>Javasript</h3>
          <p><i>"Wofür nutze ich Javascript? Ist das nicht sowas ähnliches wie Java?..."</i><a href="questions?catSelected=1">  mehr</a></p>
        </div>
        <div class="col-sm-4">
          <h3>CSS</h3>        
          <p><i>"CSS Anweisungen kombinieren"</i></p>
          <p><i>"Ich stehe vor folgendem Problem, dass ich gerne die komplette Formatierung in eine Klasse packen möchte..."</i><a href="questions?catSelected=4">  mehr</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
