<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="_fragments.html :: head">
        from Fragmentss
    </head>

    <body>
        <header th:replace="_fragments.html :: top">
          from Fragments
        </header>
        <div class="container">
            <div class="col chat">
                <div scope="col">
                    <div class="s-bubble-f">Questions - <span class="text-nowrap"><i>Select skill: </i>
                        <form method="get" th:action="@{/questions}" th:object="${catSelected}">
                            <select id="catSelected" name="catSelected" onchange="this.form.submit()">
                                <option th:value=0>- all -</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.categoryId}"
                                        th:text="${category.categoryName}"
                                        th:selected="${category.categoryId} == ${catSelected}">
                                </option>
                            </select>
                        </form></span>
                    </div>                      
                </div>
                <div th:each="question : ${questions}">
                    <div class="s-bubble-q">
                        <div class="avatarBox">
                            <span class="badge badge-pill badge-danger" th:text="${question.categoryName}">categoryName</span><br>
                            <span><img th:src="@{'/image/' + *{question.questioner}}" class="avatarPic"/></span><br>
                            <span class="badge badge-pill badge-warning" th:text="${question.questionNick}">questionNick</span><br>
                            <span class="badge badge-secondary" th:text="${question.questionDate}">questionDate</span><br>
                        </div>
                        <span th:text="${question.questionText}">questionText</span><br>
                    </div>
                    <div th:if="${question.answerText != null}" class="s-bubble-a">
                        <div class="avatarBox">
                            <span> <img th:src="@{'/image/' + *{question.expert}}" class="avatarPic"/></span><br>
                            <span class="badge badge-pill badge-warning" th:text="${question.answerNick}">questionNick</span><br>
                            <span class="badge badge-secondary" th:text="${question.answerDate}">answerDate</span><br>
                        </div>
                        <span th:text="${question.answerText}">answerText</span><br>
                    </div>
                    <div th:if="${question.answerText == null and #lists.contains(expertCategories, question.category)}" class="s-bubble-a">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                        	
                            th:attr="data-qid=${question.questionId}, data-qt=${question.questionText}, data-qc=${catSelected}"
                            data-target="#newAnswer">+ ANSWER</button>
                    </div>
                </div>
                <br><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newQuestion">+ QUESTION</button>
                <div class="modal fade" id="newQuestion" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form method="post" th:action="@{/question}" th:object="${question}">
                                    <select id="category" name="category">
                                        <option th:each="category : ${categories}"
                                                th:value="${category.categoryId}"
                                                th:text="${category.categoryName}"
                                                th:selected="${category.categoryId} == ${catSelected}">
                                        </option>
                                    </select>   
                                    <label for="questionText">Question:</label>
                                    <textarea id="questionText" name="questionText" cols="80" rows="4" required placeholder="Fill in your question."></textarea>
                                    <br>
                                    <input id="questioner" name="questioner" th:value="${loggedInUserId}" type="hidden">
                                    <button type="submit" value="Add">Add</button>
                                    <button type="cancel" value="Cancel" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="newAnswer" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div id="questionText">Question:</div><br>
                                <form method="post" th:action="@{/answer}" th:object="${answer}">
                                    <label for="answerText"><b>Answer:</b></label><br>
                                    <textarea id="answerText" name="answerText" rows="4" required placeholder="Fill in your answer."></textarea>
                                    <br>
                                    <input id="expert" name="expert" th:value="${loggedInUserId}" type="hidden">
                                    <input id="question" name="question" value="" type="hidden">
                                    <input id="category" name="category" value="" type="hidden">
                                    <button type="submit" value="Add">Add</button>
                                    <button type="cancel" value="Cancel" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $('#newAnswer').on('show.bs.modal', function (event) {
             var button = $(event.relatedTarget) // Button that triggered the modal
             var questionId = button.data('qid') // Extract info from data-* attributes
             var questionText = button.data('qt') // Extract info from data-* attributes
             var category = button.data('qc') // Extract info from data-* attributes
             // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
             var modal = $(this)
             modal.find('#questionText').text(questionText)
             modal.find('#question').val(questionId)
             modal.find('#category').val(category)
        })
    </script> 
</html>