<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Skill Hub</title>
    <title>SkillHub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script></head>
<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 10px 5px;
        text-align: left;
    }
</style>
<body>
<div class="container">
    <h3>Skill Hub</h3>

    <br><br>
    <!--<form method="post" th:action="@{/}" th:object="${category}">-->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><b>Question</b> - <i>Select skill: </i>   
                        <form method="get" th:action="@{/questions}" th:object="${catSelected}">
                            <select id="catSelected" name="catSelected" onchange="this.form.submit()">
                                <option th:value=0>- all -</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.categoryId}"
                                        th:text="${category.categoryName}"
                                        th:selected="${category.categoryId} == ${catSelected}">
                                </option>
                            </select>
                        </form>
                    </th>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>        
            </thead>
            <tbody>
                <tr th:each="question : ${questions}">
                    <td th:text="${question.categoryName}">categoryName</td>
                    <td th:text="${question.questionText}">questionText</td>
                    <td th:text="${question.answerText}">answerText</td>
                    <!--
                    <td><a th:href="@{/question(id=${question.id})}">Edit</a></td>
                    <td><a th:href="@{/question/delete(id=${question.id})}">Remove</a></td> 
                    -->
                </tr>
                <tr>
                    <td>?</td>
                    <td>new</td>
                    <td><a href="/question">Add a new question! DEAD LINK</a></td>
                    
                </tr>            
            </tbody>
        </table>
    </div>
</div>
<br>
</body>
</html>