<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
      <title>SkillHub</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
      <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" />
      <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

  </head>
  <body>
    <div class="container">
      <h1>SkillHub Registrierung</h1>
      <p>Bitte fülle alle Felder aus, um dir einen Account anzulegen.</p>

        <form method="post" th:action="@{/register}" th:object="${user}">

              <input type="hidden" name="userid" th:field="*{userId}">
              <input type="hidden" name="role" th:field="*{role}">
          
              <label for="firstname-text"><b>Vorname:</b></label>
              <input type="text" placeholder="Vorname" th:field="*{firstName}"> 
              <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Firstname Error</p>
    
              <label for="lastName-text"><b>Nachname:</b></label>
              <input type="text" placeholder="Nachname" th:field="*{name}">
              <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    
              <label for="email-text"><b>eMail</b></label>
              <input type="text" placeholder="eMail" th:field="*{mailAdress}">
              <p th:if="${#fields.hasErrors('mailAdress')}" th:errors="*{mailAdress}">Mail Error</p>
              
              <label for="nickname-text"><b>Nickname</b></label>
              <input type="text" placeholder="Nickname (Anmeldename)" th:field="*{nickName}">
              <p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">Nickname Error</p>
              
              <label for="password-text"><b>Password</b></label>
              <input type="password" placeholder="Password" th:field="*{passWord}">
              <p th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}">Password Error</p>
              
              <p>Mit deiner Anmeldung akzeptierst du unsere <a href="terms">Nutzungsbedingungen</a>.</p>
              <button type="submit" class="registerbtn">Absenden</button>
        </form>
                
        <div class="container signin">
        <p>Du hast schon einen Account? Hier gehts zum <a href="/login">Login</a>.</p>
        </div>
      </div>
  </body>
</html>