<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<xmlns:sec="https: //www.thymeleaf.org/thymeleaf-extras-springsecurity5"/>

    <head th:replace="_fragments.html :: head">
        from Fragmentss
    </head>

    <body>
        <header th:replace="_fragments.html :: top">
            from Fragments
        </header>
        <div class="container">
                <h1>SkillHub Profildaten ändern</h1>
                <p>Hier kannst du deine Profildaten ändern. Vergiss nicht, deine Änderungen am Schluss zu speichern.</p>
                <form method="post" th:action="@{/user}" th:object="${user}">

                    <input name="userid" th:field="*{userId}" type="hidden">
                    <input name="role" th:field="*{role}" type="hidden">
                
                    <label for="user-first-name"><b>Vorname</b></label>
                    <input id="user-first-name" name="firstname" placeholder="Vorname" required th:field="*{firstName}" type="text">
                
                    <label for="user-last-name"><b>Nachname</b></label>
                    <input id="user-last-name" name="name" placeholder="Nachname" required th:field="*{name}" type="text">
                
                    <label for="email-text"><b>eMail</b></label>
                    <input type="text" placeholder="eMail" th:field="*{mailAdress}"/>
                    <p th:each="error : ${#fields.errors('mailAdress')}"
                    th:text="${error}">Validation error</p>
       
                    <label for="user-nick-name"><b>Nickname</b></label>
                    <input id="user-nick-name" name="nickName" placeholder="Nickname" th:field="*{nickName}" type="text">
                    <p th:each="error : ${#fields.errors('nickName')}"
                    th:text="${error}">Validation error</p>
                    
<!--                    <label for="image"><b>Avatar</b></label>
                    <input id="user-avatar" name="avatar" type="file" th:field="*{avatar.avatar}" class="form-control-file" required>
                    <span th:if="${#fields.hasErrors('${avatar.avatar}')}" th:errors="${avatar.avatar}">Image error</span>
-->
                    <label for="user-passwort"><b>Passwort</b></label>
                    <input id="user-passwort" name="password" placeholder="Passwort" th:field="*{passWord}" type="password">

                    <button type="submit" class="registerbtn">Daten speichern</button>
                </form>
                <h1>Profilbild festlegen</h1>
                <form enctype="multipart/form-data" action="#" th:action="@{/avataradmin}" th:object="${avatar}" method="post">
                    <span><img th:src="@{'/image/' + ${loggedInUserId}}" class="avatarPic"/></span><br><br>
                    <input type="file" th:field="*{avatar}" class="form-control-file" id="avatar" required>
                    <span th:if="${#fields.hasErrors('*{avatar}')}" th:errors="*{avatar}">Bild-Fehler</span>
                    <button type="submit" class="registerbtn">neues Bild speichern</button>
                </form>                
             <div class="container signin">
        </div>
      </div>
  </body>
</html>